.draggable {
    width: 40px;
    height: 40px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
    text-align:center;
}

.droppable {
    width: 120px;
    height: 120px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}

#CardContainer{
    width: 800px;
    height: 500px;
    float: left;
    background-color:cyan;
}

h3 {
    clear: left;
}