[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

/*.card-container {*/
    /*float: left;*/
    /*width:50%;*/
    /*background-color:blue;*/
/*}*/

/*html, body { height: 100%; padding: 0; margin: 0; }*/
.card-container {
    position: absolute;
    width: 50%; height: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    line-height: 100%;
    text-align: center;

}

.calculated-results {
    font-size: 240%;
    display: inline-block;
    vertical-align: middle;
}

.aligner {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

#mainContainer {
    position: absolute;
}

.op-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.operations {
    float: left;
    width: 50%;
    height: 50%;
}

.op-img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.add {
    background-image: url(../images/plus.png);
    background-size: 100% 100%;
    opacity: 0.6;
}

.minus {
    background-image: url(../images/minus.png);
    background-size: 100% 100%;
    opacity: 0.6;
}

.times {
    background-image: url(../images/times.png);
    background-size: 100% 100%;
    opacity: 0.6;
}

.divide {
    background-image: url(../images/divide.png);
    background-size: 100% 100%;
    opacity: 0.6;
}

.highlight {
    width: 100%;
    height: 100%;
    background-color: yellow;
    opacity: 0.6;
}

.table-stroke thead th {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.table-stroke tbody th,
.table-stroke tbody td {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}





